<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 3:43:37 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportTerminalContract

@{
    ViewBag.Title = "Details Airport Terminal";
}

<h2>Details for Airport Terminal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Airport Terminal Name</dt> <dd>@Html.DisplayFor(model => model.AirportTerminalName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeAirportTerminalEdit", new { airportTerminalId = Model.AirportTerminalId }) |
    @Html.ActionLink("New", "CrudeAirportTerminalCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeAirportTerminalIndex")
</p>
