<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 8:35:02 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportTerminalContract>

@{
    ViewBag.Title = "Index Airport Terminal";
}

<h2>Index for Airport Terminal</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportTerminalCreate")
</p>

<table class="table">
    <tr>
        <th>Airport Terminal Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirportTerminalName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportTerminalEdit", new { airportTerminalId = item.AirportTerminalId })
                | @Html.ActionLink("Delete", "CrudeAirportTerminalDelete", new { airportTerminalId = item.AirportTerminalId })
            </td>
        </tr>
    }

</table>
