<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 12:08:15 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFerryTypeRefContract>

@{
    ViewBag.Title = "Index Ferry Type Ref";
}

<h2>Index for Ferry Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFerryTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Ferry Type</th>
        <th>Ferry Type Name</th>
        <th>State</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FerryTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FerryTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFerryTypeRefEdit", new { ferryTypeRcd = item.FerryTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFerryTypeRefDelete", new { ferryTypeRcd = item.FerryTypeRcd })
            </td>
        </tr>
    }

</table>
