<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 4:20:19 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingPassengerSeatContract>

@{
    ViewBag.Title = "Index Booking Passenger Seat";
}

<h2>Index for Booking Passenger Seat</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingPassengerSeatCreate")
</p>

<table class="table">
    <tr>
        <th>Seat Number</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SeatNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingPassengerSeatEdit", new { bookingPassengerSeatId = item.BookingPassengerSeatId })
                | @Html.ActionLink("Delete", "CrudeBookingPassengerSeatDelete", new { bookingPassengerSeatId = item.BookingPassengerSeatId })
            </td>
        </tr>
    }

</table>
