@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeFlightContract

@{
    ViewBag.Title = "Details Flight";
}

<h2>Details for Flight</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>From Date Time</dt> <dd>@Html.DisplayFor(model => model.FromDateTime)</dd>
        <dt>Until Date Time</dt> <dd>@Html.DisplayFor(model => model.UntilDateTime)</dd>
        <dt>Comment</dt> <dd>@Html.DisplayFor(model => model.Comment)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "FlightEdit", new { flightId = Model.FlightId }) |
    @Html.ActionLink("New", "FlightCreate", new { }) |
    @Html.ActionLink("Back to List", "FlightIndex")
</p>
