






@model SolutionNorSolutionPort.BusinessLogicLayer.FlightContract

@{
    ViewBag.Title = "Edit Flight";
}

<h2>Edit Flight</h2>

<br />
@Html.Partial("~/Views/Flight/_tab.cshtml")
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Flight.FlightId)
        @Html.HiddenFor(model => model.Flight.BindingFlightId)
        @Html.HiddenFor(model => model.Flight.AirlineId)
        @Html.HiddenFor(model => model.Flight.AircraftTypeRcd)
        @Html.HiddenFor(model => model.Flight.DepartureAirportId)
        @Html.HiddenFor(model => model.Flight.ArrivalAirportId)
        @Html.HiddenFor(model => model.Flight.UserId)
        @Html.HiddenFor(model => model.Flight.DateTime)

        <div class="form-group">
            @Html.Label("Airline Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AirlineId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Flight Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlightNumberFN3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FlightNumberFN3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Aircraft Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AircraftTypeRcd", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Departure Airport Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartureAirportId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Arrival Airport Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArrivalAirportId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("From Date Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Flight.FromDateTime, new { htmlAttributes = new { @class = "form-control date-picker", @Value = @Model.Flight.FromDateTime.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.Flight.FromDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Until Date Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Flight.UntilDateTime, new { htmlAttributes = new { @class = "form-control date-picker", @Value = @Model.Flight.UntilDateTime.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.Flight.UntilDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Flight.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Flight.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("User Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayText("DefaultUserName")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayText("DateTime")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>Logical Segment Number</th>
        <th>Physical Segment Number</th>
        <th>From Date Time</th>
        <th>Until Date Time</th>
        <th>Date Time</th>
        <th>Departure Gate</th>
        <th>Arrival Gate</th>
        <th></th>
    </tr>

    @foreach (var item in Model.CrudeFlightSegments) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LogicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.PhysicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.FromDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.UntilDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureGate) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalGate) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFlightSegmentEdit", "CrudeFlightSegment", new { flightSegmentId = item.FlightSegmentId }, null)
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/all.css")
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker(({ dateFormat: "yy-mm-dd" }));
        })
    </script>
}
