<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 3:49:02 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeTitleRefContract>

@{
    ViewBag.Title = "Index Title Ref";
}

<h2>Index for Title Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeTitleRefCreate")
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Title Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TitleRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.TitleName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeTitleRefEdit", new { titleRcd = item.TitleRcd })
                | @Html.ActionLink("Delete", "CrudeTitleRefDelete", new { titleRcd = item.TitleRcd })
            </td>
        </tr>
    }

</table>
