<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 5:23:30 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeCityContract

@{
    ViewBag.Title = "Details City";
}

<h2>Details for City</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>City Code</dt> <dd>@Html.DisplayFor(model => model.CityCode)</dd>
        <dt>City Name</dt> <dd>@Html.DisplayFor(model => model.CityName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeCityEdit", new { cityId = Model.CityId }) |
    @Html.ActionLink("New", "CrudeCityCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeCityIndex")
</p>
