<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 4:31:56 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeCityContract>

@{
    ViewBag.Title = "Index City";
}

<h2>Index for City</h2>

<p>
    @Html.ActionLink("Create New", "CrudeCityCreate")
</p>

<table class="table">
    <tr>
        <th>City Code</th>
        <th>City Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CityCode) </td>
            <td>@Html.DisplayFor(modelItem => item.CityName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeCityEdit", new { cityId = item.CityId })
                | @Html.ActionLink("Delete", "CrudeCityDelete", new { cityId = item.CityId })
            </td>
        </tr>
    }

</table>
