<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:18:22 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFinancialSpecialServiceContract>

@{
    ViewBag.Title = "Index Financial Special Service";
}

<h2>Index for Financial Special Service</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialSpecialServiceCreate")
</p>

<table class="table">
    <tr>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Quantity) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialSpecialServiceEdit", new { financialSpecialServiceId = item.FinancialSpecialServiceId })
                | @Html.ActionLink("Delete", "CrudeFinancialSpecialServiceDelete", new { financialSpecialServiceId = item.FinancialSpecialServiceId })
            </td>
        </tr>
    }

</table>
