<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 5:33:30 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeAgencyContract

@{
    ViewBag.Title = "Details Agency";
}

<h2>Details for Agency</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Agency Code</dt> <dd>@Html.DisplayFor(model => model.AgencyCode)</dd>
        <dt>Agency Name</dt> <dd>@Html.DisplayFor(model => model.AgencyName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeAgencyEdit", new { agencyId = Model.AgencyId }) |
    @Html.ActionLink("New", "CrudeAgencyCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeAgencyIndex")
</p>
