<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 0.d
  http://sql2x.azurewebsites.net/
  Generated Date: 12/29/2018 11:35:25 AM
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.DefaultUserListContract>

@{
    ViewBag.Title = "Default User List";
}

<h2>Default User List</h2>

<table class="table">
    <tr>
        <th>Last Activity Date Time</th>
        <th>Default User Name</th>
        <th>Default User Code</th>
        <th>Created Date Time</th>
        <th>Email</th>
        <th>Default State Name</th>
        <th>Activity Count</th>
        <th>Created By Default User Code</th>
        <th>Created By Default User Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LastActivityDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserCode) </td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Email) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultStateName) </td>
            <td>@Html.DisplayFor(modelItem => item.ActivityCount) </td>
            <td>@Html.DisplayFor(modelItem => item.CreatedByDefaultUserCode) </td>
            <td>@Html.DisplayFor(modelItem => item.CreatedByDefaultUserName) </td>
            <td>
                @Html.ActionLink("Edit", "DefaultUserEdit", "DefaultUser", new { defaultUserId = item.DefaultUserId }, null)
                | @Html.ActionLink("Activity", "DefaultUserActivityRecentIndex", "DefaultUserActivityRecentLive", new { defaultUserId = item.DefaultUserId }, null)
                | @Html.ActionLink("Resolve", "ResolveNetnameFromIpV4", "DefaultUserActivity", new { ipAddress = item.DefaultUserCode }, null)
                | @Html.ActionLink("Impersonate", "LoginImpersonate", "DefaultUserListLive", new { userCode = item.DefaultUserCode }, null)
                | @Html.ActionLink("Override", "LoginOverrideUserName", "DefaultUserListLive", new { userCode = item.DefaultUserCode }, null)
                | <a href=@Html.Raw("http://www.whois.com/whois/" + item.DefaultUserCode) } target="_blank">whois</a>
                | <a href=@Html.Raw("http://whois.arin.net/rest/nets;q=" + item.DefaultUserCode + "?showDetails=true&showARIN=false&showNonArinTopLevelNet=false&ext=netref2") } target="_blank">arin</a>
            </td>
        </tr>
    }

</table>
