@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.DefaultErrorOverviewContract>

@{
    ViewBag.Title = "Index for Default Error Overview";
}

<h2>Index for DefaultErrorOverview</h2>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Default Error Layer Name</th>
        <th>Default Error Type Name</th>
        <th>Domain Name</th>
        <th>Class Name</th>
        <th>Method Name</th>
        <th>Error Message</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorLayerName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultErrorTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DomainName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClassName) </td>
            <td>@Html.DisplayFor(modelItem => item.MethodName) </td>
            <td>@Html.DisplayFor(modelItem => item.ErrorMessage) </td>
            <td>
                @Html.ActionLink("Details", "DefaultErrorDetails", "DefaultError", new { defaultErrorId = item.DefaultErrorId }, null) 
            </td>
        </tr>
    }

</table>
