<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 5:33:31 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftContract

@{
    ViewBag.Title = "Details Aircraft";
}

<h2>Details for Aircraft</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Aircraft Name</dt> <dd>@Html.DisplayFor(model => model.AircraftName)</dd>
        <dt>Operational Date Time</dt> <dd>@Html.DisplayFor(model => model.OperationalDateTime)</dd>
        <dt>First Flight Date Time</dt> <dd>@Html.DisplayFor(model => model.FirstFlightDateTime)</dd>
        <dt>Engine Type</dt> <dd>@Html.DisplayFor(model => model.EngineType)</dd>
        <dt>Passenger Capacity</dt> <dd>@Html.DisplayFor(model => model.PassengerCapacity)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeAircraftEdit", new { aircraftId = Model.AircraftId }) |
    @Html.ActionLink("New", "CrudeAircraftCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeAircraftIndex")
</p>
