<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 8:00:18 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeReportingRoundupTypeRefContract>

@{
    ViewBag.Title = "Index Reporting Roundup Type Ref";
}

<h2>Index for Reporting Roundup Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeReportingRoundupTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Reporting Roundup Type</th>
        <th>Reporting Roundup Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ReportingRoundupTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ReportingRoundupTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeReportingRoundupTypeRefEdit", new { reportingRoundupTypeRcd = item.ReportingRoundupTypeRcd })
                | @Html.ActionLink("Delete", "CrudeReportingRoundupTypeRefDelete", new { reportingRoundupTypeRcd = item.ReportingRoundupTypeRcd })
            </td>
        </tr>
    }

</table>
