<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 7:56:33 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingServiceRequestContract>

@{
    ViewBag.Title = "Index Booking Service Request";
}

<h2>Index for Booking Service Request</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingServiceRequestCreate")
</p>

<table class="table">
    <tr>
        <th>Service Type</th>
        <th>Service Request Status</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServiceTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceRequestStatusRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingServiceRequestEdit", new { bookingServiceRequestId = item.BookingServiceRequestId })
                | @Html.ActionLink("Delete", "CrudeBookingServiceRequestDelete", new { bookingServiceRequestId = item.BookingServiceRequestId })
            </td>
        </tr>
    }

</table>
