<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/27/2020 11:16:57 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeCountryContract

@{
    ViewBag.Title = "Details Country";
}

<h2>Details for Country</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Country Code</dt> <dd>@Html.DisplayFor(model => model.CountryCode)</dd>
        <dt>Country Name</dt> <dd>@Html.DisplayFor(model => model.CountryName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeCountryEdit", new { countryId = Model.CountryId }) |
    @Html.ActionLink("New", "CrudeCountryCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeCountryIndex")
</p>
