<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 1:11:12 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeDateTimeTypeRefContract

@{
    ViewBag.Title = "Details Date Time Type Ref";
}

<h2>Details for Date Time Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Date Time Type Name</dt> <dd>@Html.DisplayFor(model => model.DateTimeTypeName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeDateTimeTypeRefEdit", new { dateTimeTypeRcd = Model.DateTimeTypeRcd }) |
    @Html.ActionLink("New", "CrudeDateTimeTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeDateTimeTypeRefIndex")
</p>
