<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 4:59:31 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeServiceSpecialServiceRequestContract

@{
    ViewBag.Title = "Details Service Special Service Request";
}

<h2>Details for Service Special Service Request</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Service Special Service Request Code</dt> <dd>@Html.DisplayFor(model => model.ServiceSpecialServiceRequestCode)</dd>
        <dt>Service Special Service Request Name</dt> <dd>@Html.DisplayFor(model => model.ServiceSpecialServiceRequestName)</dd>
        <dt>Service Description</dt> <dd>@Html.DisplayFor(model => model.ServiceDescription)</dd>
        <dt>Amount</dt> <dd>@Html.DisplayFor(model => model.Amount)</dd>
        <dt>Inventory Controlled Flag</dt> <dd>@Html.DisplayFor(model => model.InventoryControlledFlag)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeServiceSpecialServiceRequestEdit", new { serviceSpecialServiceRequestId = Model.ServiceSpecialServiceRequestId }) |
    @Html.ActionLink("New", "CrudeServiceSpecialServiceRequestCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeServiceSpecialServiceRequestIndex")
</p>
