<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 12:05:32 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftIdentifierTypeRefContract>

@{
    ViewBag.Title = "Index Aircraft Identifier Type Ref";
}

<h2>Index for Aircraft Identifier Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAircraftIdentifierTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Aircraft Identifier Type</th>
        <th>Aircraft Identifier Type Name</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftIdentifierTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAircraftIdentifierTypeRefEdit", new { aircraftIdentifierTypeRcd = item.AircraftIdentifierTypeRcd })
                | @Html.ActionLink("Delete", "CrudeAircraftIdentifierTypeRefDelete", new { aircraftIdentifierTypeRcd = item.AircraftIdentifierTypeRcd })
            </td>
        </tr>
    }

</table>
