<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 4:31:23 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftIdentifierTypeRefContract

@{
    ViewBag.Title = "Details Aircraft Identifier Type Ref";
}

<h2>Details for Aircraft Identifier Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Aircraft Identifier Type Name</dt> <dd>@Html.DisplayFor(model => model.AircraftIdentifierTypeName)</dd>
        <dt>Active Flag</dt> <dd>@Html.DisplayFor(model => model.ActiveFlag)</dd>
        <dt>Sort Order</dt> <dd>@Html.DisplayFor(model => model.SortOrder)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeAircraftIdentifierTypeRefEdit", new { aircraftIdentifierTypeRcd = Model.AircraftIdentifierTypeRcd }) |
    @Html.ActionLink("New", "CrudeAircraftIdentifierTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeAircraftIdentifierTypeRefIndex")
</p>
