<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/27/2020 11:16:42 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingPassengerBaggageContract>

@{
    ViewBag.Title = "Index Booking Passenger Baggage";
}

<h2>Index for Booking Passenger Baggage</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingPassengerBaggageCreate")
</p>

<table class="table">
    <tr>
        <th>Item Count</th>
        <th>Weight</th>
        <th>Date Time</th>
        <th>Remarks</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ItemCount) </td>
            <td>@Html.DisplayFor(modelItem => item.Weight) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Remarks) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingPassengerBaggageEdit", new { bookingPassengerBaggageId = item.BookingPassengerBaggageId })
                | @Html.ActionLink("Delete", "CrudeBookingPassengerBaggageDelete", new { bookingPassengerBaggageId = item.BookingPassengerBaggageId })
            </td>
        </tr>
    }

</table>
