<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:22:01 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeLanguageRefContract

@{
    ViewBag.Title = "Details Language Ref";
}

<h2>Details for Language Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Language Name</dt> <dd>@Html.DisplayFor(model => model.LanguageName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeLanguageRefEdit", new { languageRcd = Model.LanguageRcd }) |
    @Html.ActionLink("New", "CrudeLanguageRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeLanguageRefIndex")
</p>
