<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 3:47:08 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportRunwayContract>

@{
    ViewBag.Title = "Index Airport Runway";
}

<h2>Index for Airport Runway</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportRunwayCreate")
</p>

<table class="table">
    <tr>
        <th>Direction</th>
        <th>Dimensions</th>
        <th>Surface</th>
        <th>Instrument Landing System Type</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Direction) </td>
            <td>@Html.DisplayFor(modelItem => item.Dimensions) </td>
            <td>@Html.DisplayFor(modelItem => item.Surface) </td>
            <td>@Html.DisplayFor(modelItem => item.InstrumentLandingSystemType) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportRunwayEdit", new { airportRunwayId = item.AirportRunwayId })
                | @Html.ActionLink("Delete", "CrudeAirportRunwayDelete", new { airportRunwayId = item.AirportRunwayId })
            </td>
        </tr>
    }

</table>
