<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 5:25:07 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeTimezoneContract

@{
    ViewBag.Title = "Details Timezone";
}

<h2>Details for Timezone</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Timezone Name</dt> <dd>@Html.DisplayFor(model => model.TimezoneName)</dd>
        <dt>Utc Offset</dt> <dd>@Html.DisplayFor(model => model.UtcOffset)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeTimezoneEdit", new { timezoneId = Model.TimezoneId }) |
    @Html.ActionLink("New", "CrudeTimezoneCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeTimezoneIndex")
</p>
