<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 8:59:21 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportFacilityContract>

@{
    ViewBag.Title = "Index Airport Facility";
}

<h2>Index for Airport Facility</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportFacilityCreate")
</p>

<table class="table">
    <tr>
        <th>Airport Facility Type</th>
        <th>Airport Facility Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirportFacilityTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AirportFacilityName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportFacilityEdit", new { airportFacilityId = item.AirportFacilityId })
                | @Html.ActionLink("Delete", "CrudeAirportFacilityDelete", new { airportFacilityId = item.AirportFacilityId })
            </td>
        </tr>
    }

</table>
