<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 3:47:06 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportIdentifierTypeRefContract>

@{
    ViewBag.Title = "Index Airport Identifier Type Ref";
}

<h2>Index for Airport Identifier Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportIdentifierTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Airport Identifier Type</th>
        <th>Airport Identifier Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirportIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AirportIdentifierTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportIdentifierTypeRefEdit", new { airportIdentifierTypeRcd = item.AirportIdentifierTypeRcd })
                | @Html.ActionLink("Delete", "CrudeAirportIdentifierTypeRefDelete", new { airportIdentifierTypeRcd = item.AirportIdentifierTypeRcd })
            </td>
        </tr>
    }

</table>
