<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 8:35:00 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirportSupplierContract>

@{
    ViewBag.Title = "Index Airport Supplier";
}

<h2>Index for Airport Supplier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirportSupplierCreate")
</p>

<table class="table">
    <tr>
        <th>Aiport Supplier Name</th>
        <th>Airport Supplier Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AiportSupplierName) </td>
            <td>@Html.DisplayFor(modelItem => item.AirportSupplierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirportSupplierEdit", new { airportSupplierId = item.AirportSupplierId })
                | @Html.ActionLink("Delete", "CrudeAirportSupplierDelete", new { airportSupplierId = item.AirportSupplierId })
            </td>
        </tr>
    }

</table>
