<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 12:48:49 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftDocumentTypeRefContract>

@{
    ViewBag.Title = "Index Aircraft Document Type Ref";
}

<h2>Index for Aircraft Document Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAircraftDocumentTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Aircraft Document Type</th>
        <th>Aircraft Document Type Name</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftDocumentTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftDocumentTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAircraftDocumentTypeRefEdit", new { aircraftDocumentTypeRcd = item.AircraftDocumentTypeRcd })
                | @Html.ActionLink("Delete", "CrudeAircraftDocumentTypeRefDelete", new { aircraftDocumentTypeRcd = item.AircraftDocumentTypeRcd })
            </td>
        </tr>
    }

</table>
