<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 12:44:24 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.FinancialFaresContract>

@{
    ViewBag.Title = "Financial Fares";
}

<h2>Financial Fares</h2>

<table class="table">
    <tr>
        <th>Financial Fare Type</th>
        <th>Departure Airport Identifier Code</th>
        <th>Departure Airport Name</th>
        <th>Arrival Airport Identifier Code</th>
        <th>Arrival Airport Name</th>
        <th>Valid From Flight Date Time</th>
        <th>Valid Until Flight Date Time</th>
        <th>Amount</th>
        <th>Financial Currency Type</th>
        <th>Financial Currency Type Name</th>
        <th>Date Time</th>
        <th>Default User Code</th>
        <th>Default User Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialFareTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidFromFlightDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidUntilFlightDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
        </tr>
    }

</table>
