<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 8:29:29 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.VoucherSearchWithRemainingAmountContract>

@{
    ViewBag.Title = "Voucher Search With Remaining Amount";
}

<h2>Voucher Search With Remaining Amount</h2>

<table class="table">
    <tr>
        <th>Voucher Number</th>
        <th>Voucher Description</th>
        <th>Remaining Amount</th>
        <th>Financial Currency Type Code</th>
        <th>Financial Currency Type Name</th>
        <th>Valid From Date Time</th>
        <th>Valid Until Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.VoucherNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.VoucherDescription) </td>
            <td>@Html.DisplayFor(modelItem => item.RemainingAmount) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidFromDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ValidUntilDateTime) </td>
        </tr>
    }

</table>
