<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:22:09 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeServiceCarRentalContract

@{
    ViewBag.Title = "Details Service Car Rental";
}

<h2>Details for Service Car Rental</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Car Name</dt> <dd>@Html.DisplayFor(model => model.CarName)</dd>
        <dt>Day Price Amount</dt> <dd>@Html.DisplayFor(model => model.DayPriceAmount)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeServiceCarRentalEdit", new { serviceCarRentalId = Model.ServiceCarRentalId }) |
    @Html.ActionLink("New", "CrudeServiceCarRentalCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeServiceCarRentalIndex")
</p>
