<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 10:01:22 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeFinancialFareTypeRefContract

@{
    ViewBag.Title = "Details Financial Fare Type Ref";
}

<h2>Details for Financial Fare Type Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Financial Fare Type Name</dt> <dd>@Html.DisplayFor(model => model.FinancialFareTypeName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFinancialFareTypeRefEdit", new { financialFareTypeRcd = Model.FinancialFareTypeRcd }) |
    @Html.ActionLink("New", "CrudeFinancialFareTypeRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFinancialFareTypeRefIndex")
</p>
