<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:20:20 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirlineIdentifierTypeRefContract>

@{
    ViewBag.Title = "Index Airline Identifier Type Ref";
}

<h2>Index for Airline Identifier Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirlineIdentifierTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Airline Identifier Type</th>
        <th>Airline Identifier Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirlineIdentifierTypeRefEdit", new { airlineIdentifierTypeRcd = item.AirlineIdentifierTypeRcd })
                | @Html.ActionLink("Delete", "CrudeAirlineIdentifierTypeRefDelete", new { airlineIdentifierTypeRcd = item.AirlineIdentifierTypeRcd })
            </td>
        </tr>
    }

</table>
