<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/31/2020 7:44:40 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.AircraftMaintenanceCompartmentIndexWithFilterContract>

@{
    ViewBag.Title = "Aircraft Maintenance Compartment Index With Filter";
}

<h2>Aircraft Maintenance Compartment Index With Filter</h2>

<table class="table">
    <tr>
        <th>Aircraft Name</th>
        <th>Aircraft Compartment Type</th>
        <th>Aircraft Compartment Type Name</th>
        <th>Aircraft Compartment Name</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftCompartmentTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftCompartmentTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftCompartmentName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
