<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 7:01:43 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.AircraftPIMDetailsContract>

@{
    ViewBag.Title = "Aircraft PIMD etails";
}

<h2>Aircraft PIMD etails</h2>

<table class="table">
    <tr>
        <th>Aircraft Name</th>
        <th>Aircraft Configuration Name</th>
        <th>Aircraft Body Name</th>
        <th>Aircraft Type Name</th>
        <th>Product Info Value</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftName) </td>
            <td>
                @if (item.AircraftFamilyImage != null) {
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.AircraftFamilyImage)" alt="html_inline_image.png" title="html_inline_image.png">
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftConfigurationName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftBodyName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductInfoValue) </td>
        </tr>
    }

</table>
