<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/23/2021 5:34:09 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.AircraftMaintenanceIndexWithFilterContract>

@{
    ViewBag.Title = "Aircraft Maintenance Index With Filter";
}

<h2>Aircraft Maintenance Index With Filter</h2>

<table class="table">
    <tr>
        <th>Aircraft Name</th>
        <th>Aircraft Configuration</th>
        <th>Aircraft Configuration Name</th>
        <th>Aircraft Body</th>
        <th>Aircraft Body Name</th>
        <th>Aircraft Type</th>
        <th>Aircraft Type Name</th>
        <th>Engine Type</th>
        <th>Operational Date Time</th>
        <th>First Flight Date Time</th>
        <th>Passenger Capacity</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftConfigurationRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftConfigurationName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftBodyRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftBodyName) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.EngineType) </td>
            <td>@Html.DisplayFor(modelItem => item.OperationalDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.FirstFlightDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerCapacity) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
