<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 4:33:22 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeServicePackageContract

@{
    ViewBag.Title = "Details Service Package";
}

<h2>Details for Service Package</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Service Package Name</dt> <dd>@Html.DisplayFor(model => model.ServicePackageName)</dd>
        <dt>Stay Duration Days</dt> <dd>@Html.DisplayFor(model => model.StayDurationDays)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeServicePackageEdit", new { servicePackageId = Model.ServicePackageId }) |
    @Html.ActionLink("New", "CrudeServicePackageCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeServicePackageIndex")
</p>
