<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 7:07:22 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.FlightSegmentsScheduleContract>

@{
    ViewBag.Title = "Flight Segments Schedule";
}

<h2>Flight Segments Schedule</h2>

<table class="table">
    <tr>
        <th>Airline Identifier Code</th>
        <th>Flight Number</th>
        <th>Departure Airport Identifier Code</th>
        <th>Departure Airport Name</th>
        <th>Arrival Airport Identifier Code</th>
        <th>Arrival Airport Name</th>
        <th>Logical Segment Number</th>
        <th>Physical Segment Number</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Departure Gate</th>
        <th>Arrival Gate</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FlightNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.LogicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.PhysicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureGate) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalGate) </td>
        </tr>
    }

</table>
