<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/28/2020 7:58:54 AM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFinancialHotelBookingContract>

@{
    ViewBag.Title = "Index Financial Hotel Booking";
}

<h2>Index for Financial Hotel Booking</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialHotelBookingCreate")
</p>

<table class="table">
    <tr>
        <th>From Date Time</th>
        <th>Until Date Time</th>
        <th>Amount</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FromDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.UntilDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialHotelBookingEdit", new { financialHotelBookingId = item.FinancialHotelBookingId })
                | @Html.ActionLink("Delete", "CrudeFinancialHotelBookingDelete", new { financialHotelBookingId = item.FinancialHotelBookingId })
            </td>
        </tr>
    }

</table>
