<div>
    @if (ViewBag.Title.Equals("Index Aircraft")) {
        <b>@Html.ActionLink("Index", "AircraftDetailsIndex", "AircraftDetailsLive")</b>
    } else {
        @Html.ActionLink("Index", "AircraftDetailsIndex", "AircraftDetailsLive")
    }
    |
    @if (ViewBag.Title.EndsWith("Aircraft")) {
        <b>@Html.ActionLink("Aircraft", "AircraftEdit", "Aircraft", new { aircraftId = ViewBag.AircraftId }, null)</b>
    } else {
        @Html.ActionLink("Aircraft", "AircraftEdit", "Aircraft", new { aircraftId = ViewBag.AircraftId }, null)
    }
    |
    @if (ViewBag.Title.Contains("Identifier")) {
        <b>@Html.ActionLink("Identifier", "AircraftIdentifierIndex", "AircraftIdentifier", new { aircraftId = ViewBag.AircraftId }, null)</b>
    } else {
        @Html.ActionLink("Identifier", "AircraftIdentifierIndex", "AircraftIdentifier", new { aircraftId = ViewBag.AircraftId }, null)
    }
    |
    @if (ViewBag.Title.Contains("Compartment")) {
        <b>@Html.ActionLink("Compartment", "AircraftCompartmentIndex", "AircraftCompartment", new { aircraftId = ViewBag.AircraftId }, null)</b>
    } else {
        @Html.ActionLink("Compartment", "AircraftCompartmentIndex", "AircraftCompartment", new { aircraftId = ViewBag.AircraftId }, null)
    }
    |
    @if (ViewBag.Title.EndsWith("Aircraft Measurement")) {
        <b>@Html.ActionLink("Measurement", "AircraftMeasurementEdit", "AircraftMeasurement", new { aircraftId = ViewBag.AircraftId }, null)</b>
    } else {
        @Html.ActionLink("Measurement", "AircraftMeasurementEdit", "AircraftMeasurement", new { aircraftId = ViewBag.AircraftId }, null)
    }   
    |
    @if (ViewBag.Title.Contains("Document")) {
        <b>@Html.ActionLink("Document", "AircraftDocumentIndex", "AircraftDocument", new { aircraftId = ViewBag.AircraftId }, null)</b>
    } else {
        @Html.ActionLink("Document", "AircraftDocumentIndex", "AircraftDocument", new { aircraftId = ViewBag.AircraftId }, null)
    }
</div>
