<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:20:54 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeContactMethodRefContract>

@{
    ViewBag.Title = "Index Contact Method Ref";
}

<h2>Index for Contact Method Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeContactMethodRefCreate")
</p>

<table class="table">
    <tr>
        <th>Contact Method</th>
        <th>Contact Method Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ContactMethodRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ContactMethodName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeContactMethodRefEdit", new { contactMethodRcd = item.ContactMethodRcd })
                | @Html.ActionLink("Delete", "CrudeContactMethodRefDelete", new { contactMethodRcd = item.ContactMethodRcd })
            </td>
        </tr>
    }

</table>
