<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 2:02:05 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeExternalSystemContract>

@{
    ViewBag.Title = "Index External System";
}

<h2>Index for External System</h2>

<p>
    @Html.ActionLink("Create New", "CrudeExternalSystemCreate")
</p>

<table class="table">
    <tr>
        <th>External System Code</th>
        <th>External System Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ExternalSystemCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ExternalSystemName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeExternalSystemEdit", new { externalSystemId = item.ExternalSystemId })
                | @Html.ActionLink("Delete", "CrudeExternalSystemDelete", new { externalSystemId = item.ExternalSystemId })
            </td>
        </tr>
    }

</table>
