<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:17:05 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingContract>

@{
    ViewBag.Title = "Index Booking";
}

<h2>Index for Booking</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingCreate")
</p>

<table class="table">
    <tr>
        <th>Received From</th>
        <th>Booking Source</th>
        <th>Comment</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ReceivedFrom) </td>
            <td>@Html.DisplayFor(modelItem => item.BookingSourceRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.Comment) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingEdit", new { bookingId = item.BookingId })
                | @Html.ActionLink("Delete", "CrudeBookingDelete", new { bookingId = item.BookingId })
            </td>
        </tr>
    }

</table>
