<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/27/2020 11:17:20 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFerryContract>

@{
    ViewBag.Title = "Index Ferry";
}

<h2>Index for Ferry</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFerryCreate")
</p>

<table class="table">
    <tr>
        <th>Ferry Name</th>
        <th>Ferry Type</th>
        <th>First Float Date Time</th>
        <th>Operational Date Time</th>
        <th>Engine Type</th>
        <th>Passenger Capacity</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FerryName) </td>
            <td>@Html.DisplayFor(modelItem => item.FerryTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FirstFloatDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.OperationalDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.EngineType) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerCapacity) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFerryEdit", new { ferryId = item.FerryId })
                | @Html.ActionLink("Delete", "CrudeFerryDelete", new { ferryId = item.FerryId })
            </td>
        </tr>
    }

</table>
