<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 2:18:00 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeGenderRefContract

@{
    ViewBag.Title = "Details Gender Ref";
}

<h2>Details for Gender Ref</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Gender Name</dt> <dd>@Html.DisplayFor(model => model.GenderName)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeGenderRefEdit", new { genderRcd = Model.GenderRcd }) |
    @Html.ActionLink("New", "CrudeGenderRefCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeGenderRefIndex")
</p>
