<div>
    @if (ViewBag.Title.Equals("Index Airline")) {
        <b>@Html.ActionLink("Index", "AirlineIndex", "Airline")</b>
    } else {
        @Html.ActionLink("Index", "AirlineIndex", "Airline")
    }
    |
    @if (ViewBag.Title.EndsWith("Airline")) {
        <b>@Html.ActionLink("Airline", "AirlineEdit", "Airline", new { airlineId = ViewBag.AirlineId }, null)</b>
    } else {
        @Html.ActionLink("Airline", "AirlineEdit", "Airline", new { airlineId = ViewBag.AirlineId }, null)
    }
    |
    @if (ViewBag.Title.Contains("Identifier")) {
        <b>@Html.ActionLink("Identifier", "AirlineIdentifierIndex", "AirlineIdentifier", new { airlineId = ViewBag.AirlineId }, null)</b>
    } else {
        @Html.ActionLink("Identifier", "AirlineIdentifierIndex", "AirlineIdentifier", new { airlineId = ViewBag.AirlineId }, null)
    }
    |
    @if (ViewBag.Title.Contains("Contact Method")) {
        <b>@Html.ActionLink("Contact Method", "AirlineContactMethodIndex", "AirlineContactMethod", new { airlineId = ViewBag.AirlineId }, null)</b>
    } else {
        @Html.ActionLink("Contact Method", "AirlineContactMethodIndex", "AirlineContactMethod", new { airlineId = ViewBag.AirlineId }, null)
    }
</div>
