<div>
    @if (ViewBag.Title == "Index") {
        <b>@Html.ActionLink("Index", "BookingListIndex", "Booking")</b>
    } else {
        @Html.ActionLink("Index", "BookingListIndex", "Booking") 
    }
    |
    @if (ViewBag.Title == "BookingGeneral") {
        <b>@Html.ActionLink("Basic", "BookingGeneral", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        @Html.ActionLink("Basic", "BookingGeneral", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingContacts") {
        string st = Model.BookingContract.BookingEventCount.BookingContactCount.ToString();
        <b>@Html.ActionLink("Contact (" + st + ")", "BookingContacts", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        string st = Model.BookingContract.BookingEventCount.BookingContactCount.ToString();
        @Html.ActionLink("Contact (" + st + ")", "BookingContacts", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingAddress") {
        <b>@Html.ActionLink("Address", "BookingAddress", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        @Html.ActionLink("Address", "BookingAddress", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingPassengers") {
        string st = Model.BookingContract.BookingEventCount.BookingPassengerCount.ToString();
        <b>@Html.ActionLink("Passenger (" + st + ")", "BookingPassengers", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        string st = Model.BookingContract.BookingEventCount.BookingPassengerCount.ToString();
        @Html.ActionLink("Passenger (" + st + ")", "BookingPassengers", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingItinerary") {
        string st = Model.BookingContract.BookingEventCount.BookingFlightSegmentCount.ToString();
        <b>@Html.ActionLink("Itinerary (" + st + ")", "BookingItinerary", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        string st = Model.BookingContract.BookingEventCount.BookingFlightSegmentCount.ToString();
        @Html.ActionLink("Itinerary (" + st + ")", "BookingItinerary", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingServices") {
        string st = Model.BookingContract.BookingEventCount.BookingServiceRequestCount.ToString();       
        <b>@Html.ActionLink("Services (" + st + ")", "BookingServices", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        string st = Model.BookingContract.BookingEventCount.BookingServiceRequestCount.ToString();       
        @Html.ActionLink("Services (" + st + ")", "BookingServices", "Booking", new { bookingId = Model.BookingId }, null)
    }
    |
    @if (ViewBag.Title == "BookingSummary") {
        <b>@Html.ActionLink("Summary", "BookingSummary", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        @Html.ActionLink("Summary", "BookingSummary", "Booking", new { bookingId = Model.BookingId }, null)
    }
    |
    @if (ViewBag.Title == "BookingPayments") {
        string st = Model.BookingContract.BookingEventCount.FinancialPaymentCount.ToString();       
        <b>@Html.ActionLink("Payments (" + st + ")", "BookingFinancialPayments", "Booking", new { bookingId = Model.BookingId, financialPaymentTypeRcd = SolutionNorSolutionPort.BusinessLogicLayer.FinancialPaymentTypeRef.Card, financialPaymentId = Guid.Empty, financialCurrencyId = Guid.Empty }, null)</b>
    } else {
        string st = Model.BookingContract.BookingEventCount.FinancialPaymentCount.ToString();       
        @Html.ActionLink("Payments (" + st + ")", "BookingFinancialPayments", "Booking", new { bookingId = Model.BookingId, financialPaymentTypeRcd = SolutionNorSolutionPort.BusinessLogicLayer.FinancialPaymentTypeRef.Card, financialPaymentId = Guid.Empty, financialCurrencyId = Guid.Empty }, null)
    }
    |
    @if (ViewBag.Title == "BookingFinancialTransactions") {
        string st = Model.BookingContract.BookingEventCount.FinancialBookingTransactionCount.ToString();       
        <b>@Html.ActionLink("Transactions (" + st + ")", "BookingFinancialTransactions", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        string st = Model.BookingContract.BookingEventCount.FinancialBookingTransactionCount.ToString();       
        @Html.ActionLink("Transactions (" + st + ")", "BookingFinancialTransactions", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingConfirm") {
        <b>@Html.ActionLink("Confirm", "BookingConfirm", "Booking", new { bookingId = Model.BookingId }, null) </b>
    } else {
        @Html.ActionLink("Confirm", "BookingConfirm", "Booking", new { bookingId = Model.BookingId }, null) 
    }
    |
    @if (ViewBag.Title == "BookingEventHistory") {
        string st = Model.BookingContract.BookingEventCount.BookingEventCount.ToString();       
        <b>@Html.ActionLink("History (" + st + ")", "BookingEventHistory", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        string st = Model.BookingContract.BookingEventCount.BookingEventCount.ToString();       
        @Html.ActionLink("History (" + st + ")", "BookingEventHistory", "Booking", new { bookingId = Model.BookingId }, null)
    }
</div>
