<div>
    @if (ViewBag.Title == "BookingServices") {
        <b>@Html.ActionLink("Special Services", "BookingServices", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        @Html.ActionLink("Special Services", "BookingServices", "Booking", new { bookingId = Model.BookingId }, null)
    }
    |
    @if (ViewBag.Title == "BookingServiceHotel") {
        <b>@Html.ActionLink("Hotel", "BookingServiceHotel", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        @Html.ActionLink("Hotel", "BookingServiceHotel", "Booking", new { bookingId = Model.BookingId }, null)
    }
    |
    @if (ViewBag.Title == "BookingServiceCar") {
        <b>@Html.ActionLink("Car Rental", "BookingServiceCar", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        @Html.ActionLink("Car Rental", "BookingServiceCar", "Booking", new { bookingId = Model.BookingId }, null)
    }
    |
    @if (ViewBag.Title == "BookingServiceFerry") {
        <b>@Html.ActionLink("Ferry", "BookingServiceFerry", "Booking", new { bookingId = Model.BookingId }, null)</b>
    } else {
        @Html.ActionLink("Ferry", "BookingServiceFerry", "Booking", new { bookingId = Model.BookingId }, null)
    }
</div>
