@model SolutionNorSolutionPort.BusinessLogicLayer.BookingContract

@{
    ViewBag.Title = "Booking";
}

<h2>Create Booking</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Booking.BookingId)
        @Html.HiddenFor(model => model.Booking.UserId)
        @Html.HiddenFor(model => model.Booking.AddressId)
        @Html.HiddenFor(model => model.Booking.ExternalSystemId)
        @Html.HiddenFor(model => model.Booking.AgencyId)
        @Html.HiddenFor(model => model.Booking.FinancialCostcentreId)
        @Html.HiddenFor(model => model.Booking.FinancialCurrencyId)

        <div class="form-group">
            @Html.Label("Locator", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingIdentifier.BookingIdentifierValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookingIdentifier.BookingIdentifierValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Booking.BookingSourceRcd, "Booking Source", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BookingSourceRcd", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Booking.BookingSourceRcd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("EMail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingContactMethod.ContactMethodWay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookingContactMethod.ContactMethodWay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Received From", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Booking.ReceivedFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Booking.ReceivedFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Booking.Comment, new { htmlAttributes = new { @class = "form-control", style = "height: 100px;" } })
                @Html.ValidationMessageFor(model => model.Booking.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Booking.DateTime, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => Model.Booking.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "BookingListIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"> $(function () { $('.date-picker').datepicker();}) </script>
}
