@model SolutionNorSolutionPort.AspMvc.Controllers.BookingServicesContract

@{
    ViewBag.Title = "BookingServices";
}

<h2>Booking Services ( @Html.Raw(Model.Locator) )</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("_tab")
        <br />
        @Html.Partial("_tabServices")
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table">
            <tr>
                <th>Service Type Name</th>
                <th>Service Description</th>
                <th>Service Request Status Name</th>
                <th>Service Amount</th>
                <th>Service Currency Type Name</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Services) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ServiceTypeName) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceDescription) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceRequestStatusName) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceAmount) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceCurrencyTypeName) </td>
                    <td>
                        @Html.ActionLink(
                            "Remove", 
                            "SpecialServiceRemove", 
                            "Booking",
                            new { bookingId = Model.BookingId, bookingServiceRequestId = item.BookingServiceRequestId }, 
                            null
                            )
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>Service Special Service Request Group</th>
                <th>Service Special Service Request Code</th>
                <th>Service Special Service Request Name</th>
                <th>Amount</th>
                <th>Financial Currency Type Name</th>
                <th></th>
            </tr>

            @foreach (var item in Model.SpecialServiceRequestList) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestGroupRcd) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestCode) </td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestName) </td>
                    <td>@Html.DisplayFor(modelItem => item.Amount) </td>
                    <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeName) </td>
                    <td>
                        @Html.ActionLink(
                            "Add",
                            "SpecialServiceAdd",
                            "Booking",
                            new { bookingId = Model.BookingId, serviceSpecialServiceRequestId = item.ServiceSpecialServiceRequestId },
                            null
                            )
                    </td>
                </tr>
            }
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"> $(function () { $('.date-picker').datepicker(); }) </script>
}
