<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 4:31:49 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingPassengerEventContract>

@{
    ViewBag.Title = "Index Booking Passenger Event";
}

<h2>Index for Booking Passenger Event</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingPassengerEventCreate")
</p>

<table class="table">
    <tr>
        <th>Booking Passenger Event Type</th>
        <th>Booking Passenger Event Number</th>
        <th>Remarks</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BookingPassengerEventTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.BookingPassengerEventNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.Remarks) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingPassengerEventEdit", new { bookingPassengerEventId = item.BookingPassengerEventId })
                | @Html.ActionLink("Delete", "CrudeBookingPassengerEventDelete", new { bookingPassengerEventId = item.BookingPassengerEventId })
            </td>
        </tr>
    }

</table>
