@{
    ViewBag.Title = "Simple Views";
}

<h2>Simple Views</h2>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aircraft Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\AircraftSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aircraft Maintenance Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\AircraftMaintenanceSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Airport Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\AirportSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Booking Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\BookingSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Car Rental Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\CarRentalSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ClientSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\DefaultSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default Test Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\DefaultTestSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ferry Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\FerrySearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Financial Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\FinancialSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flight Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\FlightSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hotel Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\HotelSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Passenger Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\PassengerSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Schedule Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ScheduleSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service Search</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @RenderPage("..\\Durian\\ServiceSearch\\ActionLinkSnippets.cshtml")
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    