@{
    ViewBag.Title = "Maintenance";
}

<h1>Maintenance</h1>

<br><h2>Address</h2>
@Html.ActionLink("Address", "CrudeAddressIndex", "CrudeAddress")<br>
@Html.ActionLink("Address Type Ref", "CrudeAddressTypeRefIndex", "CrudeAddressTypeRef")<br>

<br><h2>Agency</h2>
@Html.ActionLink("Agency", "CrudeAgencyIndex", "CrudeAgency")<br>

<br><h2>Aircraft</h2>
@Html.ActionLink("Aircraft", "CrudeAircraftIndex", "CrudeAircraft")<br>
@Html.ActionLink("Aircraft Body Ref", "CrudeAircraftBodyRefIndex", "CrudeAircraftBodyRef")<br>
@Html.ActionLink("Aircraft Compartment", "CrudeAircraftCompartmentIndex", "CrudeAircraftCompartment")<br>
@Html.ActionLink("Aircraft Compartment Measurement", "CrudeAircraftCompartmentMeasurementIndex", "CrudeAircraftCompartmentMeasurement")<br>
@Html.ActionLink("Aircraft Compartment Type Ref", "CrudeAircraftCompartmentTypeRefIndex", "CrudeAircraftCompartmentTypeRef")<br>
@Html.ActionLink("Aircraft Configuration Ref", "CrudeAircraftConfigurationRefIndex", "CrudeAircraftConfigurationRef")<br>
@Html.ActionLink("Aircraft Document", "CrudeAircraftDocumentIndex", "CrudeAircraftDocument")<br>
@Html.ActionLink("Aircraft Document Type Ref", "CrudeAircraftDocumentTypeRefIndex", "CrudeAircraftDocumentTypeRef")<br>
@Html.ActionLink("Aircraft Identifier", "CrudeAircraftIdentifierIndex", "CrudeAircraftIdentifier")<br>
@Html.ActionLink("Aircraft Identifier Type Ref", "CrudeAircraftIdentifierTypeRefIndex", "CrudeAircraftIdentifierTypeRef")<br>
@Html.ActionLink("Aircraft Measurement", "CrudeAircraftMeasurementIndex", "CrudeAircraftMeasurement")<br>
@Html.ActionLink("Aircraft Type Ref", "CrudeAircraftTypeRefIndex", "CrudeAircraftTypeRef")<br>

<br><h2>Airline</h2>
@Html.ActionLink("Airline", "CrudeAirlineIndex", "CrudeAirline")<br>
@Html.ActionLink("Airline Base Airport", "CrudeAirlineBaseAirportIndex", "CrudeAirlineBaseAirport")<br>
@Html.ActionLink("Airline Contact Method", "CrudeAirlineContactMethodIndex", "CrudeAirlineContactMethod")<br>
@Html.ActionLink("Airline Identifier", "CrudeAirlineIdentifierIndex", "CrudeAirlineIdentifier")<br>
@Html.ActionLink("Airline Identifier Type Ref", "CrudeAirlineIdentifierTypeRefIndex", "CrudeAirlineIdentifierTypeRef")<br>
@Html.ActionLink("Airline Language", "CrudeAirlineLanguageIndex", "CrudeAirlineLanguage")<br>
@Html.ActionLink("Airline Link", "CrudeAirlineLinkIndex", "CrudeAirlineLink")<br>
@Html.ActionLink("Airline Type Ref", "CrudeAirlineTypeRefIndex", "CrudeAirlineTypeRef")<br>

<br><h2>Airport</h2>
@Html.ActionLink("Airport", "CrudeAirportIndex", "CrudeAirport")<br>
@Html.ActionLink("Airport Facility", "CrudeAirportFacilityIndex", "CrudeAirportFacility")<br>
@Html.ActionLink("Airport Facility Type Ref", "CrudeAirportFacilityTypeRefIndex", "CrudeAirportFacilityTypeRef")<br>
@Html.ActionLink("Airport Hotel Link", "CrudeAirportHotelLinkIndex", "CrudeAirportHotelLink")<br>
@Html.ActionLink("Airport Identifier", "CrudeAirportIdentifierIndex", "CrudeAirportIdentifier")<br>
@Html.ActionLink("Airport Identifier Type Ref", "CrudeAirportIdentifierTypeRefIndex", "CrudeAirportIdentifierTypeRef")<br>
@Html.ActionLink("Airport Link", "CrudeAirportLinkIndex", "CrudeAirportLink")<br>
@Html.ActionLink("Airport Runway", "CrudeAirportRunwayIndex", "CrudeAirportRunway")<br>
@Html.ActionLink("Airport Supplier", "CrudeAirportSupplierIndex", "CrudeAirportSupplier")<br>
@Html.ActionLink("Airport Supplier Link", "CrudeAirportSupplierLinkIndex", "CrudeAirportSupplierLink")<br>
@Html.ActionLink("Airport Terminal", "CrudeAirportTerminalIndex", "CrudeAirportTerminal")<br>
@Html.ActionLink("Airport Terminal Airline", "CrudeAirportTerminalAirlineIndex", "CrudeAirportTerminalAirline")<br>
@Html.ActionLink("Airport Type Ref", "CrudeAirportTypeRefIndex", "CrudeAirportTypeRef")<br>

<br><h2>Booking</h2>
@Html.ActionLink("Booking", "CrudeBookingIndex", "CrudeBooking")<br>
@Html.ActionLink("Booking Contact Method", "CrudeBookingContactMethodIndex", "CrudeBookingContactMethod")<br>
@Html.ActionLink("Booking Document", "CrudeBookingDocumentIndex", "CrudeBookingDocument")<br>
@Html.ActionLink("Booking Document Type Ref", "CrudeBookingDocumentTypeRefIndex", "CrudeBookingDocumentTypeRef")<br>
@Html.ActionLink("Booking Event", "CrudeBookingEventIndex", "CrudeBookingEvent")<br>
@Html.ActionLink("Booking Event Type Ref", "CrudeBookingEventTypeRefIndex", "CrudeBookingEventTypeRef")<br>
@Html.ActionLink("Booking Flight Segment", "CrudeBookingFlightSegmentIndex", "CrudeBookingFlightSegment")<br>
@Html.ActionLink("Booking Identifier", "CrudeBookingIdentifierIndex", "CrudeBookingIdentifier")<br>
@Html.ActionLink("Booking Identifier Type Ref", "CrudeBookingIdentifierTypeRefIndex", "CrudeBookingIdentifierTypeRef")<br>
@Html.ActionLink("Booking Passenger", "CrudeBookingPassengerIndex", "CrudeBookingPassenger")<br>
@Html.ActionLink("Booking Passenger Baggage", "CrudeBookingPassengerBaggageIndex", "CrudeBookingPassengerBaggage")<br>
@Html.ActionLink("Booking Passenger Event", "CrudeBookingPassengerEventIndex", "CrudeBookingPassengerEvent")<br>
@Html.ActionLink("Booking Passenger Event Type Ref", "CrudeBookingPassengerEventTypeRefIndex", "CrudeBookingPassengerEventTypeRef")<br>
@Html.ActionLink("Booking Passenger Seat", "CrudeBookingPassengerSeatIndex", "CrudeBookingPassengerSeat")<br>
@Html.ActionLink("Booking Passenger Ticket", "CrudeBookingPassengerTicketIndex", "CrudeBookingPassengerTicket")<br>
@Html.ActionLink("Booking Service Request", "CrudeBookingServiceRequestIndex", "CrudeBookingServiceRequest")<br>
@Html.ActionLink("Booking Source Ref", "CrudeBookingSourceRefIndex", "CrudeBookingSourceRef")<br>

<br><h2>Cart</h2>
@Html.ActionLink("Cart Product", "CrudeCartProductIndex", "CrudeCartProduct")<br>
@Html.ActionLink("Cart Product Price", "CrudeCartProductPriceIndex", "CrudeCartProductPrice")<br>
@Html.ActionLink("Cart User", "CrudeCartUserIndex", "CrudeCartUser")<br>

<br><h2>City</h2>
@Html.ActionLink("City", "CrudeCityIndex", "CrudeCity")<br>

<br><h2>Client</h2>
@Html.ActionLink("Client", "CrudeClientIndex", "CrudeClient")<br>
@Html.ActionLink("Client Contact Method", "CrudeClientContactMethodIndex", "CrudeClientContactMethod")<br>
@Html.ActionLink("Client Event", "CrudeClientEventIndex", "CrudeClientEvent")<br>
@Html.ActionLink("Client Event Type Ref", "CrudeClientEventTypeRefIndex", "CrudeClientEventTypeRef")<br>
@Html.ActionLink("Client Link", "CrudeClientLinkIndex", "CrudeClientLink")<br>
@Html.ActionLink("Client Type Ref", "CrudeClientTypeRefIndex", "CrudeClientTypeRef")<br>

<br><h2>Contact</h2>
@Html.ActionLink("Contact Method Ref", "CrudeContactMethodRefIndex", "CrudeContactMethodRef")<br>

<br><h2>Country</h2>
@Html.ActionLink("Country", "CrudeCountryIndex", "CrudeCountry")<br>

<br><h2>Date</h2>
@Html.ActionLink("Date Time Type Ref", "CrudeDateTimeTypeRefIndex", "CrudeDateTimeTypeRef")<br>

<br><h2>Default</h2>
@Html.ActionLink("Default Change Log", "CrudeDefaultChangeLogIndex", "CrudeDefaultChangeLog")<br>
@Html.ActionLink("Default Change Log Type Ref", "CrudeDefaultChangeLogTypeRefIndex", "CrudeDefaultChangeLogTypeRef")<br>
@Html.ActionLink("Default Error", "CrudeDefaultErrorIndex", "CrudeDefaultError")<br>
@Html.ActionLink("Default Error Layer Ref", "CrudeDefaultErrorLayerRefIndex", "CrudeDefaultErrorLayerRef")<br>
@Html.ActionLink("Default Error Type Ref", "CrudeDefaultErrorTypeRefIndex", "CrudeDefaultErrorTypeRef")<br>
@Html.ActionLink("Default Issue", "CrudeDefaultIssueIndex", "CrudeDefaultIssue")<br>
@Html.ActionLink("Default Issue Status Ref", "CrudeDefaultIssueStatusRefIndex", "CrudeDefaultIssueStatusRef")<br>
@Html.ActionLink("Default Issue Type Ref", "CrudeDefaultIssueTypeRefIndex", "CrudeDefaultIssueTypeRef")<br>
@Html.ActionLink("Default Performance Issue", "CrudeDefaultPerformanceIssueIndex", "CrudeDefaultPerformanceIssue")<br>
@Html.ActionLink("Default Performance Time", "CrudeDefaultPerformanceTimeIndex", "CrudeDefaultPerformanceTime")<br>
@Html.ActionLink("Default Performance Time Rollup", "CrudeDefaultPerformanceTimeRollupIndex", "CrudeDefaultPerformanceTimeRollup")<br>
@Html.ActionLink("Default Resource Measurement", "CrudeDefaultResourceMeasurementIndex", "CrudeDefaultResourceMeasurement")<br>
@Html.ActionLink("Default Rule", "CrudeDefaultRuleIndex", "CrudeDefaultRule")<br>
@Html.ActionLink("Default Rule Type Ref", "CrudeDefaultRuleTypeRefIndex", "CrudeDefaultRuleTypeRef")<br>
@Html.ActionLink("Default State Ref", "CrudeDefaultStateRefIndex", "CrudeDefaultStateRef")<br>
@Html.ActionLink("Default System Reference Table", "CrudeDefaultSystemReferenceTableIndex", "CrudeDefaultSystemReferenceTable")<br>
@Html.ActionLink("Default System Setting", "CrudeDefaultSystemSettingIndex", "CrudeDefaultSystemSetting")<br>
@Html.ActionLink("Default System Setting Ref", "CrudeDefaultSystemSettingRefIndex", "CrudeDefaultSystemSettingRef")<br>
@Html.ActionLink("Default Test", "CrudeDefaultTestIndex", "CrudeDefaultTest")<br>
@Html.ActionLink("Default Test Run", "CrudeDefaultTestRunIndex", "CrudeDefaultTestRun")<br>
@Html.ActionLink("Default Test Run Result Ref", "CrudeDefaultTestRunResultRefIndex", "CrudeDefaultTestRunResultRef")<br>
@Html.ActionLink("Default User", "CrudeDefaultUserIndex", "CrudeDefaultUser")<br>
@Html.ActionLink("Default User Activity", "CrudeDefaultUserActivityIndex", "CrudeDefaultUserActivity")<br>
@Html.ActionLink("Default User Activity Type Ref", "CrudeDefaultUserActivityTypeRefIndex", "CrudeDefaultUserActivityTypeRef")<br>
@Html.ActionLink("Default Version", "CrudeDefaultVersionIndex", "CrudeDefaultVersion")<br>

<br><h2>External</h2>
@Html.ActionLink("External System", "CrudeExternalSystemIndex", "CrudeExternalSystem")<br>

<br><h2>Ferry</h2>
@Html.ActionLink("Ferry", "CrudeFerryIndex", "CrudeFerry")<br>
@Html.ActionLink("Ferry Identifier", "CrudeFerryIdentifierIndex", "CrudeFerryIdentifier")<br>
@Html.ActionLink("Ferry Identifier Type Ref", "CrudeFerryIdentifierTypeRefIndex", "CrudeFerryIdentifierTypeRef")<br>
@Html.ActionLink("Ferry Type Ref", "CrudeFerryTypeRefIndex", "CrudeFerryTypeRef")<br>

<br><h2>Financial</h2>
@Html.ActionLink("Financial Adjustment", "CrudeFinancialAdjustmentIndex", "CrudeFinancialAdjustment")<br>
@Html.ActionLink("Financial Adjustment Type Ref", "CrudeFinancialAdjustmentTypeRefIndex", "CrudeFinancialAdjustmentTypeRef")<br>
@Html.ActionLink("Financial Bank Account Number Type Ref", "CrudeFinancialBankAccountNumberTypeRefIndex", "CrudeFinancialBankAccountNumberTypeRef")<br>
@Html.ActionLink("Financial Booking Transaction", "CrudeFinancialBookingTransactionIndex", "CrudeFinancialBookingTransaction")<br>
@Html.ActionLink("Financial Booking Transaction Type Ref", "CrudeFinancialBookingTransactionTypeRefIndex", "CrudeFinancialBookingTransactionTypeRef")<br>
@Html.ActionLink("Financial Car Rental", "CrudeFinancialCarRentalIndex", "CrudeFinancialCarRental")<br>
@Html.ActionLink("Financial Card Type Ref", "CrudeFinancialCardTypeRefIndex", "CrudeFinancialCardTypeRef")<br>
@Html.ActionLink("Financial Company", "CrudeFinancialCompanyIndex", "CrudeFinancialCompany")<br>
@Html.ActionLink("Financial Costcentre", "CrudeFinancialCostcentreIndex", "CrudeFinancialCostcentre")<br>
@Html.ActionLink("Financial Coupon", "CrudeFinancialCouponIndex", "CrudeFinancialCoupon")<br>
@Html.ActionLink("Financial Coupon Type Ref", "CrudeFinancialCouponTypeRefIndex", "CrudeFinancialCouponTypeRef")<br>
@Html.ActionLink("Financial Currency", "CrudeFinancialCurrencyIndex", "CrudeFinancialCurrency")<br>
@Html.ActionLink("Financial Currency Type Ref", "CrudeFinancialCurrencyTypeRefIndex", "CrudeFinancialCurrencyTypeRef")<br>
@Html.ActionLink("Financial Fare", "CrudeFinancialFareIndex", "CrudeFinancialFare")<br>
@Html.ActionLink("Financial Fare Type Ref", "CrudeFinancialFareTypeRefIndex", "CrudeFinancialFareTypeRef")<br>
@Html.ActionLink("Financial Fee", "CrudeFinancialFeeIndex", "CrudeFinancialFee")<br>
@Html.ActionLink("Financial Fee Type Ref", "CrudeFinancialFeeTypeRefIndex", "CrudeFinancialFeeTypeRef")<br>
@Html.ActionLink("Financial Ferry Booking", "CrudeFinancialFerryBookingIndex", "CrudeFinancialFerryBooking")<br>
@Html.ActionLink("Financial Hotel Booking", "CrudeFinancialHotelBookingIndex", "CrudeFinancialHotelBooking")<br>
@Html.ActionLink("Financial Payment", "CrudeFinancialPaymentIndex", "CrudeFinancialPayment")<br>
@Html.ActionLink("Financial Payment Accounting", "CrudeFinancialPaymentAccountingIndex", "CrudeFinancialPaymentAccounting")<br>
@Html.ActionLink("Financial Payment Bank", "CrudeFinancialPaymentBankIndex", "CrudeFinancialPaymentBank")<br>
@Html.ActionLink("Financial Payment Card", "CrudeFinancialPaymentCardIndex", "CrudeFinancialPaymentCard")<br>
@Html.ActionLink("Financial Payment Cash", "CrudeFinancialPaymentCashIndex", "CrudeFinancialPaymentCash")<br>
@Html.ActionLink("Financial Payment Coupon", "CrudeFinancialPaymentCouponIndex", "CrudeFinancialPaymentCoupon")<br>
@Html.ActionLink("Financial Payment Type Ref", "CrudeFinancialPaymentTypeRefIndex", "CrudeFinancialPaymentTypeRef")<br>
@Html.ActionLink("Financial Payment Voucher", "CrudeFinancialPaymentVoucherIndex", "CrudeFinancialPaymentVoucher")<br>
@Html.ActionLink("Financial Service", "CrudeFinancialServiceIndex", "CrudeFinancialService")<br>
@Html.ActionLink("Financial Special Service", "CrudeFinancialSpecialServiceIndex", "CrudeFinancialSpecialService")<br>
@Html.ActionLink("Financial Tax", "CrudeFinancialTaxIndex", "CrudeFinancialTax")<br>
@Html.ActionLink("Financial Tax Type Ref", "CrudeFinancialTaxTypeRefIndex", "CrudeFinancialTaxTypeRef")<br>
@Html.ActionLink("Financial Voucher", "CrudeFinancialVoucherIndex", "CrudeFinancialVoucher")<br>
@Html.ActionLink("Financial Voucher Type Ref", "CrudeFinancialVoucherTypeRefIndex", "CrudeFinancialVoucherTypeRef")<br>

<br><h2>Flight</h2>
@Html.ActionLink("Flight", "CrudeFlightIndex", "CrudeFlight")<br>
@Html.ActionLink("Flight Event", "CrudeFlightEventIndex", "CrudeFlightEvent")<br>
@Html.ActionLink("Flight Identifier", "CrudeFlightIdentifierIndex", "CrudeFlightIdentifier")<br>
@Html.ActionLink("Flight Identifier Type Ref", "CrudeFlightIdentifierTypeRefIndex", "CrudeFlightIdentifierTypeRef")<br>
@Html.ActionLink("Flight Schedule", "CrudeFlightScheduleIndex", "CrudeFlightSchedule")<br>
@Html.ActionLink("Flight Schedule Identifier", "CrudeFlightScheduleIdentifierIndex", "CrudeFlightScheduleIdentifier")<br>
@Html.ActionLink("Flight Schedule Segment", "CrudeFlightScheduleSegmentIndex", "CrudeFlightScheduleSegment")<br>
@Html.ActionLink("Flight Schedule Segment Rule", "CrudeFlightScheduleSegmentRuleIndex", "CrudeFlightScheduleSegmentRule")<br>
@Html.ActionLink("Flight Schedule Segment Rule Ref", "CrudeFlightScheduleSegmentRuleRefIndex", "CrudeFlightScheduleSegmentRuleRef")<br>
@Html.ActionLink("Flight Segment", "CrudeFlightSegmentIndex", "CrudeFlightSegment")<br>
@Html.ActionLink("Flight Segment Event", "CrudeFlightSegmentEventIndex", "CrudeFlightSegmentEvent")<br>

<br><h2>Gender</h2>
@Html.ActionLink("Gender Ref", "CrudeGenderRefIndex", "CrudeGenderRef")<br>

<br><h2>Language</h2>
@Html.ActionLink("Language Ref", "CrudeLanguageRefIndex", "CrudeLanguageRef")<br>

<br><h2>Link</h2>
@Html.ActionLink("Link Type Ref", "CrudeLinkTypeRefIndex", "CrudeLinkTypeRef")<br>

<br><h2>Nationality</h2>
@Html.ActionLink("Nationality Ref", "CrudeNationalityRefIndex", "CrudeNationalityRef")<br>

<br><h2>Passenger</h2>
@Html.ActionLink("Passenger", "CrudePassengerIndex", "CrudePassenger")<br>
@Html.ActionLink("Passenger Type Ref", "CrudePassengerTypeRefIndex", "CrudePassengerTypeRef")<br>

<br><h2>Product</h2>
@Html.ActionLink("Product", "CrudeProductIndex", "CrudeProduct")<br>

<br><h2>Reporting</h2>
@Html.ActionLink("Reporting Roundup", "CrudeReportingRoundupIndex", "CrudeReportingRoundup")<br>
@Html.ActionLink("Reporting Roundup Type Ref", "CrudeReportingRoundupTypeRefIndex", "CrudeReportingRoundupTypeRef")<br>

<br><h2>Service</h2>
@Html.ActionLink("Service Car Rental", "CrudeServiceCarRentalIndex", "CrudeServiceCarRental")<br>
@Html.ActionLink("Service Car Rental Link", "CrudeServiceCarRentalLinkIndex", "CrudeServiceCarRentalLink")<br>
@Html.ActionLink("Service Ferry", "CrudeServiceFerryIndex", "CrudeServiceFerry")<br>
@Html.ActionLink("Service Hotel", "CrudeServiceHotelIndex", "CrudeServiceHotel")<br>
@Html.ActionLink("Service Hotel Image", "CrudeServiceHotelImageIndex", "CrudeServiceHotelImage")<br>
@Html.ActionLink("Service Hotel Link", "CrudeServiceHotelLinkIndex", "CrudeServiceHotelLink")<br>
@Html.ActionLink("Service Image Type Ref", "CrudeServiceImageTypeRefIndex", "CrudeServiceImageTypeRef")<br>
@Html.ActionLink("Service Package", "CrudeServicePackageIndex", "CrudeServicePackage")<br>
@Html.ActionLink("Service Package Promotion", "CrudeServicePackagePromotionIndex", "CrudeServicePackagePromotion")<br>
@Html.ActionLink("Service Request Status Ref", "CrudeServiceRequestStatusRefIndex", "CrudeServiceRequestStatusRef")<br>
@Html.ActionLink("Service Special Service Request", "CrudeServiceSpecialServiceRequestIndex", "CrudeServiceSpecialServiceRequest")<br>
@Html.ActionLink("Service Special Service Request Group Ref", "CrudeServiceSpecialServiceRequestGroupRefIndex", "CrudeServiceSpecialServiceRequestGroupRef")<br>
@Html.ActionLink("Service Special Service Request Operation Rule Ref", "CrudeServiceSpecialServiceRequestOperationRuleRefIndex", "CrudeServiceSpecialServiceRequestOperationRuleRef")<br>
@Html.ActionLink("Service Special Service Request Requirement Ref", "CrudeServiceSpecialServiceRequestRequirementRefIndex", "CrudeServiceSpecialServiceRequestRequirementRef")<br>
@Html.ActionLink("Service Type Ref", "CrudeServiceTypeRefIndex", "CrudeServiceTypeRef")<br>

<br><h2>Timezone</h2>
@Html.ActionLink("Timezone", "CrudeTimezoneIndex", "CrudeTimezone")<br>

<br><h2>Title</h2>
<br><h2>@Html.ActionLink("Title Ref", "CrudeTitleRefIndex", "CrudeTitleRef")<br></h2>

<br><h2>Help</h2>
@Html.ActionLink("Home", "Index", "Home")<br>
@Html.ActionLink("About", "About", "Home")<br>
@Html.ActionLink("Contact", "Contact", "Home")<br>
@Html.ActionLink("Maintenance", "Maintenance", "Home")<br>
