<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 7:25:50 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeServiceSpecialServiceRequestGroupRefContract>

@{
    ViewBag.Title = "Index Service Special Service Request Group Ref";
}

<h2>Index for Service Special Service Request Group Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeServiceSpecialServiceRequestGroupRefCreate")
</p>

<table class="table">
    <tr>
        <th>Service Special Service Request Group</th>
        <th>Service Special Service Request Group Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestGroupRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestGroupName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeServiceSpecialServiceRequestGroupRefEdit", new { serviceSpecialServiceRequestGroupRcd = item.ServiceSpecialServiceRequestGroupRcd })
                | @Html.ActionLink("Delete", "CrudeServiceSpecialServiceRequestGroupRefDelete", new { serviceSpecialServiceRequestGroupRcd = item.ServiceSpecialServiceRequestGroupRcd })
            </td>
        </tr>
    }

</table>
