<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 4:43:08 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.GetAirportIndexWithFilterContract>

@{
    ViewBag.Title = "Get Airport Index With Filter";
}

<h2>Get Airport Index With Filter</h2>

<table class="table">
    <tr>
        <th>Airport Name</th>
        <th>City Name</th>
        <th>Product Name</th>
        <th>Airport Type</th>
        <th>Utc Offset</th>
        <th>Elevation In Meters</th>
        <th>Runway In Meters</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Variation</th>
        <th>Attendance</th>
        <th>Control Tower Flag</th>
        <th>Activation Date Time</th>
        <th>Date Time</th>
        <th>Airport Type Name</th>
        <th>Default User Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.CityName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.AirportTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.UtcOffset) </td>
            <td>@Html.DisplayFor(modelItem => item.ElevationInMeters) </td>
            <td>@Html.DisplayFor(modelItem => item.RunwayInMeters) </td>
            <td>@Html.DisplayFor(modelItem => item.Latitude) </td>
            <td>@Html.DisplayFor(modelItem => item.Longitude) </td>
            <td>@Html.DisplayFor(modelItem => item.Variation) </td>
            <td>@Html.DisplayFor(modelItem => item.Attendance) </td>
            <td>@Html.DisplayFor(modelItem => item.ControlTowerFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.ActivationDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.AirportTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
        </tr>
    }

</table>
