<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 7:07:03 PM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirlineIdentifierContract>

@{
    ViewBag.Title = "Index Airline Identifier";
}

<h2>Index for Airline Identifier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirlineIdentifierCreate")
</p>

<table class="table">
    <tr>
        <th>Airline Identifier Type</th>
        <th>Airline Identifier Code</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirlineIdentifierEdit", new { airlineIdentifierId = item.AirlineIdentifierId })
                | @Html.ActionLink("Delete", "CrudeAirlineIdentifierDelete", new { airlineIdentifierId = item.AirlineIdentifierId })
            </td>
        </tr>
    }

</table>
