<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:40:31 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.GetClientWithFilterContract>

@{
    ViewBag.Title = "Get Client With Filter";
}

<h2>Get Client With Filter</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Passenger Type</th>
        <th>Passenger Type Name</th>
        <th>Nationality</th>
        <th>Nationality Name</th>
        <th>Gender</th>
        <th>Gender Name</th>
        <th>Title</th>
        <th>Title Name</th>
        <th>Client Type</th>
        <th>Client Type Name</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName) </td>
            <td>@Html.DisplayFor(modelItem => item.MiddleName) </td>
            <td>@Html.DisplayFor(modelItem => item.LastName) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.NationalityRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.NationalityName) </td>
            <td>@Html.DisplayFor(modelItem => item.GenderRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.GenderName) </td>
            <td>@Html.DisplayFor(modelItem => item.TitleRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.TitleName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
