<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 7:11:13 PM
  From Machine: DESKTOP-BP3OHLH
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFlightScheduleSegmentContract>

@{
    ViewBag.Title = "Index Flight Schedule Segment";
}

<h2>Index for Flight Schedule Segment</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFlightScheduleSegmentCreate")
</p>

<table class="table">
    <tr>
        <th>Physical Segment Number</th>
        <th>Logical Segment Number</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Departure Gate</th>
        <th>Arrival Gate</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.PhysicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.LogicalSegmentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalTime) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureGate) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalGate) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFlightScheduleSegmentEdit", new { flightScheduleSegmentId = item.FlightScheduleSegmentId })
                | @Html.ActionLink("Delete", "CrudeFlightScheduleSegmentDelete", new { flightScheduleSegmentId = item.FlightScheduleSegmentId })
            </td>
        </tr>
    }

</table>
