<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/29/2020 2:33:50 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeFlightScheduleSegmentContract

@{
    ViewBag.Title = "Details Flight Schedule Segment";
}

<h2>Details for Flight Schedule Segment</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Physical Segment Number</dt> <dd>@Html.DisplayFor(model => model.PhysicalSegmentNumber)</dd>
        <dt>Logical Segment Number</dt> <dd>@Html.DisplayFor(model => model.LogicalSegmentNumber)</dd>
        <dt>Departure Time</dt> <dd>@Html.DisplayFor(model => model.DepartureTime)</dd>
        <dt>Arrival Time</dt> <dd>@Html.DisplayFor(model => model.ArrivalTime)</dd>
        <dt>Departure Gate</dt> <dd>@Html.DisplayFor(model => model.DepartureGate)</dd>
        <dt>Arrival Gate</dt> <dd>@Html.DisplayFor(model => model.ArrivalGate)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeFlightScheduleSegmentEdit", new { flightScheduleSegmentId = Model.FlightScheduleSegmentId }) |
    @Html.ActionLink("New", "CrudeFlightScheduleSegmentCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeFlightScheduleSegmentIndex")
</p>
