<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/31/2020 7:23:01 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeServiceSpecialServiceRequestRequirementRefContract>

@{
    ViewBag.Title = "Index Service Special Service Request Requirement Ref";
}

<h2>Index for Service Special Service Request Requirement Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeServiceSpecialServiceRequestRequirementRefCreate")
</p>

<table class="table">
    <tr>
        <th>Service Special Service Request Requirement</th>
        <th>Service Special Service Request Requirement Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestRequirementRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestRequirementName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeServiceSpecialServiceRequestRequirementRefEdit", new { serviceSpecialServiceRequestRequirementRcd = item.ServiceSpecialServiceRequestRequirementRcd })
                | @Html.ActionLink("Delete", "CrudeServiceSpecialServiceRequestRequirementRefDelete", new { serviceSpecialServiceRequestRequirementRcd = item.ServiceSpecialServiceRequestRequirementRcd })
            </td>
        </tr>
    }

</table>
