<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 9:01:12 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeServiceFerryContract

@{
    ViewBag.Title = "Details Service Ferry";
}

<h2>Details for Service Ferry</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Amount</dt> <dd>@Html.DisplayFor(model => model.Amount)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeServiceFerryEdit", new { serviceFerryId = Model.ServiceFerryId }) |
    @Html.ActionLink("New", "CrudeServiceFerryCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeServiceFerryIndex")
</p>
