<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:39:52 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.BookingFinancialTransactionsContract>

@{
    ViewBag.Title = "Booking Financial Transactions";
}

<h2>Booking Financial Transactions</h2>

<table class="table">
    <tr>
        <th>Transaction Number</th>
        <th>Date Time</th>
        <th>Transaction Type</th>
        <th>Type Name</th>
        <th>Debit Amount</th>
        <th>Credit Amount</th>
        <th>Financial Currency Type</th>
        <th>Financial Costcentre Code</th>
        <th>Financial Costcentre Name</th>
        <th>Default User Code</th>
        <th>Default User Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TransactionNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.TransactionType) </td>
            <td>@Html.DisplayFor(modelItem => item.TypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DebitAmount) </td>
            <td>@Html.DisplayFor(modelItem => item.CreditAmount) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCostcentreCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCostcentreName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
        </tr>
    }

</table>
