<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nor-port</title>

    <!-- icons -->
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- icons -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/images/favicon/manifest.json">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/all.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highchart")
</head>
<body>
    <style>
        p, navbar-brand {
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 30px;
        }

        navbar-brand {
            text-align: center;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("nor-port", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservations</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Availability", "FlightsWithBookingInformationIndex", "FlightsWithBookingInformationLive")</li>
                            <li>@Html.ActionLink("Booking List", "BookingListIndex", "Booking")</li>
                            <li>@Html.ActionLink("Booking New ( Windows Form )", "Booking", "Home", new { bookingId = Guid.Empty }, null)</li>
                            <li>@Html.ActionLink("Bookie", "BookieIndex", "Bookie")</li>
                            <li>@Html.ActionLink("Checkin", "CheckinIndex", "Checkin")</li>
                            <li>@Html.ActionLink("Checkin ( Windows Form )", "Checkin", "Home")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Simulate Bookings", "SimulateBookings", "Booking")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flight</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Flight Schedule", "FlightScheduleIndex", "FlightScheduleLive")</li>
                            <li>@Html.ActionLink("Flight Maintenance", "FlightsForPeriodIndex", "FlightsForPeriodLive")</li>
                            <li>@Html.ActionLink("Flight Booking", "FlightsForPeriodBookIndex", "FlightsForPeriodLive")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Check Flight Status", "CheckFlightStatuses", "FlightScheduleLive")</li>
                            <li>@Html.ActionLink("Make Flights From Schedule", "MakeFlightsFromScheduleAll", "FlightScheduleLive")</li>
                       </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Passenger Name List", "FlightsWithCheckinInformationIndex", "FlightsWithCheckinInformationLive")</li>
                            <li>@Html.ActionLink("Flight Checkin Info", "FlightsWithCheckinInformationIndex", "FlightsWithCheckinInformationLive")</li>
                            <li>@Html.ActionLink("Booking Statistics", "BookingStatisticsIndex", "BookingStatistics", new { departureAirportId = Guid.Empty, arrivalAirportId = Guid.Empty, fromDateTime = DateTime.UtcNow.AddDays(-2), untilDateTime = DateTime.UtcNow.AddDays(+2) }, null)</li>
                            <li>@Html.ActionLink("Booking Statistics Chart", "BookingStatisticsIndex", "Chart")</li>
                            <li>@Html.ActionLink("Transactions Balance", "TransactionsCreditDebitBalanceIndex", "TransactionsCreditDebitBalance", new { fromDateTime = DateTime.UtcNow.AddDays(-2), untilDateTime = DateTime.UtcNow.AddDays(+2) }, null)</li>
                            <li>@Html.ActionLink("Transactions Balance Chart", "TransactionsBalance", "Chart")</li>
                            <li>@Html.ActionLink("Performance Time", "CrudeDefaultPerformanceTimeIndex", "CrudeDefaultPerformanceTime")</li>
                            <li>@Html.ActionLink("Performance Time Chart", "PerformanceTimesAndCombo", "Chart", new { commandName = "SimulateBookings" }, null)</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Company", "CrudeFinancialCompanyIndex", "CrudeFinancialCompany")</li>
                            <li>@Html.ActionLink("Costcentre", "CrudeFinancialCostcentreIndex", "CrudeFinancialCostcentre")</li>
                            <li>@Html.ActionLink("Currency", "CrudeFinancialCurrencyIndex", "CrudeFinancialCurrency")</li>
                            <li>@Html.ActionLink("Fare", "FinancialFaresIndex", "FinancialFares")</li>
                            <li>@Html.ActionLink("Fee", "CrudeFinancialFeeIndex", "CrudeFinancialFee")</li>
                            <li>@Html.ActionLink("Tax", "CrudeFinancialTaxIndex", "CrudeFinancialTax")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Voucher", "VoucherSearchWithRemainingAmountIndex", "VoucherSearchWithRemainingAmountLive")</li>
                            <li>@Html.ActionLink("Coupon", "CrudeFinancialCouponIndex", "CrudeFinancialCoupon")</li>
                            <li>@Html.ActionLink("Special Service", "SpecialServiceRequestIndex", "SpecialServiceRequest")</li>                           
                            <li>@Html.ActionLink("Car Rental", "CrudeServiceCarRentalIndex", "CrudeServiceCarRental")</li>
                            <li>@Html.ActionLink("Hotel", "CrudeServiceHotelIndex", "CrudeServiceHotel")</li>
                            <li>@Html.ActionLink("Package", "GetServicePackageIndex", "GetServicePackageLive", new { servicePackageId = Guid.Empty }, null )</li>
                            <li>@Html.ActionLink("Promotion", "ServicePackagePromotionWithFilterIndex", "ServicePackagePromotionWithFilter", new { clientId = Guid.Empty }, null )</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User", "DefaultUserListIndex", "DefaultUserListLive")</li>
                            <li>@Html.ActionLink("System Setting", "CrudeDefaultSystemSettingIndex", "CrudeDefaultSystemSetting")</li>
                            <li>@Html.ActionLink("Reference", "Index", "SystemReferenceTable")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("User Dashboard", "DefaultUserListForDashboardIndex", "DefaultUserListForDashboard")</li>
                            <li>@Html.ActionLink("Simple Maintenance", "Maintenance", "Home")</li>
                            <li>@Html.ActionLink("Simple Views", "Durians", "Home")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Aircraft", "AircraftIndex", "Aircraft")</li>
                            <li>@Html.ActionLink("Airport", "AirportIndex", "Airport")</li>
                            <li>@Html.ActionLink("Airline", "AirlineIndex", "Airline")</li>
                            <li>@Html.ActionLink("Car", "GetCarRentalIndexWithFilterIndex", "GetCarRentalIndexWithFilter")</li>
                            <li>@Html.ActionLink("Ferry", "GetFerryIndexWithFilterIndex", "GetFerryIndexWithFilter")</li>
                            <li>@Html.ActionLink("Hotel", "GetHotelIndexWithFilterIndex", "GetHotelIndexWithFilter")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">System</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("General Statistics", "DefaultStatisticsTop5Index", "DefaultStatisticsTop5")</li>
                            <li>@Html.ActionLink("System Information", "SystemInformation", "Home")</li>
                            <li>@Html.ActionLink("Dashboard Counts", "DashboardCountsIndex", "DashboardCounts")</li>
                            <li>@Html.ActionLink("System Test", "BookingTest", "Booking")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Test Overview", "DefaultTestOverviewIndex", "DefaultTestOverview")</li>
                            <li>@Html.ActionLink("Test Edit", "DefaultTestIndex", "DefaultTest")</li>
                            <li>@Html.ActionLink("Test Last Status", "DefaultTestSearchQueryIndex", "DefaultTestSearchQuery")</li>
                            <li>@Html.ActionLink("Test Add", "AddTest", "DefaultTest")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Activity Overview", "DefaultStatisticsIndex", "DefaultStatistics")</li>
                            <li>@Html.ActionLink("User Activity", "DefaultUserActivityRecentIndex", "DefaultUserActivityRecentLive", new { defaultUserId = Guid.Empty }, null)</li>
                            <li>@Html.ActionLink("User Activity Grouped", "DefaultUserActivityGroupedIndex", "DefaultUserActivityGroupedLive")</li>
                            <li>@Html.ActionLink("User Activity By Address", "DefaultUserActivityGroupedByAddressIndex", "DefaultUserActivityGroupedByAddressLive")</li>
                            <li>@Html.ActionLink("User Activity By Hour", "DefaultUserActivityByHourIndex", "DefaultUserActivityByHour")</li>                            
                            <li>@Html.ActionLink("Activity Chart", "UserActivityIndex", "Chart")</li>
                            <li>@Html.ActionLink("Error Log", "DefaultErrorOverviewIndex", "DefaultErrorOverviewLive")</li>
                            <li>@Html.ActionLink("Error Rule", "CrudeDefaultRuleIndex", "CrudeDefaultRule")</li>
                            <li>@Html.ActionLink("Change Log", "GetDefaultChangeLogIndex", "GetDefaultChangeLog", new { defaultChangeName = string.Empty, defaultChangeLogTypeRcd = string.Empty, defaultIssueId = Guid.Empty, defaultChangeLogId = Guid.Empty }, null)</li>
                            <li>@Html.ActionLink("Performance", "CrudeDefaultPerformanceIssueIndex", "CrudeDefaultPerformanceIssue")</li>
                            <li>@Html.ActionLink("Performance Indicators", "DefaultPerformanceIndicatorsIndex", "DefaultPerformanceIndicators")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Info", "DashboardInfo", "Dashboard" )</li>
                            <li>@Html.ActionLink("Create Issue", "CreateIssue", "Home")</li>
                            <li>@Html.ActionLink("Issues", "DefaultIssueWithFilterIndex", "DefaultIssueWithFilterLive")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Win Form Client", "WinForm", "Home")</li>
                            <!--li>@Html.ActionLink("Win Form Tester", "Tester", "Home")</!--li>-->
                            <li>@Html.ActionLink("API Documentation", "API", "Home")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Create Issue", "CreateIssue", "Home", new { from = "Web" }, null)</li>
                            <li>@Html.ActionLink("Issues", "DefaultIssueWithFilterIndex", "DefaultIssueWithFilterLive")</li>
                            <li>@Html.ActionLink("-------------------------", "", "")</li>
                            <li>@Html.ActionLink("Splash", "Splash", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: 15px;">
                &copy; <a href="~/Home/About">nor-port</a>
                made with &copy; <a href="http://www.sql2x.org">sql2x</a>
                utc: @DateTime.UtcNow
            </p>
        </footer>
    </div>

    @RenderSection("scripts", false)
</body>

</html>
