<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 7:44:26 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.FlightsForBookingWithFareContract>

@{
    ViewBag.Title = "Flights For Booking With Fare";
}

<h2>Flights For Booking With Fare</h2>

<table class="table">
    <tr>
        <th>Airline Identifier Code</th>
        <th>Flight Number</th>
        <th>Departure Airport Identifier Code</th>
        <th>Departure Airport Name</th>
        <th>Arrival Airport Identifier Code</th>
        <th>Arrival Airport Name</th>
        <th>From Date Time</th>
        <th>Until Date Time</th>
        <th>Booking Open Flag</th>
        <th>Amount</th>
        <th>Financial Currency Type Code</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AirlineIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FlightNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.FromDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.UntilDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.BookingOpenFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.Amount) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeCode) </td>
        </tr>
    }

</table>
