@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.GetServicePackageContract>

@{
    ViewBag.Title = "Get Service Package";
}

<h2>Service Packages</h2>

<p>
    @Html.ActionLink("Create New", "ServicePackageCreate", "GetServicePackageLive")
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Hotel Name</th>
        <th>Special Service Request</th>
        <th>Car</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Stay</th>
        <th>Default</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServicePackageName) </td>
            <td>@Html.DisplayFor(modelItem => item.HotelName) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestName) </td>
            <td>@Html.DisplayFor(modelItem => item.CarName) </td>
            <td>@Html.DisplayFor(modelItem => item.DepartureAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportName) </td>
            <td>@Html.DisplayFor(modelItem => item.StayDurationDays) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ServicePackageEdit", "GetServicePackageLive", new { servicePackageId = item.ServicePackageId }, null)               
            </td>
        </tr>
    }

</table>
