@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.FetchServiceSpecialServiceRequestWithFilterContract>

@{
    ViewBag.Title = "Special Service Request";
}

<h2>Special Service Request</h2>

<p>
    @Html.ActionLink("Create New", "ServiceSpecialServiceRequestCreate")
</p>

<table class="table">
    <tr>
        <th>Group</th>
        <th>Code</th>
        <th>Service Special Service Request</th>
        <th>Request</th>
        <th>Reply</th>
        <th>User</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestGroupName) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestCode) </td>
            <td>@Html.DisplayFor(modelItem => item.ServiceSpecialServiceRequestName) </td>
            <td>@Html.DisplayFor(modelItem => item.RequestRequirementName) </td>
            <td>@Html.DisplayFor(modelItem => item.ReplyRequirementName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "ServiceSpecialServiceRequestEdit", "SpecialServiceRequest", new { serviceSpecialServiceRequestId = item.ServiceSpecialServiceRequestId }, null)
            </td>
        </tr>
    }

</table>
