<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/3/2021 8:04:02 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFerryIdentifierContract>

@{
    ViewBag.Title = "Index Ferry Identifier";
}

<h2>Index for Ferry Identifier</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFerryIdentifierCreate")
</p>

<table class="table">
    <tr>
        <th>Ferry Identifier Type</th>
        <th>Ferry Identifier Code</th>
        <th>State</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FerryIdentifierTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FerryIdentifierCode) </td>
            <td>@Html.DisplayFor(modelItem => item.StateRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFerryIdentifierEdit", new { ferryIdentifierId = item.FerryIdentifierId })
                | @Html.ActionLink("Delete", "CrudeFerryIdentifierDelete", new { ferryIdentifierId = item.FerryIdentifierId })
            </td>
        </tr>
    }

</table>
