<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 2:03:15 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeBookingPassengerEventTypeRefContract>

@{
    ViewBag.Title = "Index Booking Passenger Event Type Ref";
}

<h2>Index for Booking Passenger Event Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeBookingPassengerEventTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Booking Passenger Event Type</th>
        <th>Booking Passenger Event Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BookingPassengerEventTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.BookingPassengerEventTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeBookingPassengerEventTypeRefEdit", new { bookingPassengerEventTypeRcd = item.BookingPassengerEventTypeRcd })
                | @Html.ActionLink("Delete", "CrudeBookingPassengerEventTypeRefDelete", new { bookingPassengerEventTypeRcd = item.BookingPassengerEventTypeRcd })
            </td>
        </tr>
    }

</table>
