<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/5/2021 9:27:39 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFinancialBookingTransactionTypeRefContract>

@{
    ViewBag.Title = "Index Financial Booking Transaction Type Ref";
}

<h2>Index for Financial Booking Transaction Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialBookingTransactionTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Booking Transaction Type</th>
        <th>Financial Booking Transaction Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialBookingTransactionTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialBookingTransactionTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialBookingTransactionTypeRefEdit", new { financialBookingTransactionTypeRcd = item.FinancialBookingTransactionTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialBookingTransactionTypeRefDelete", new { financialBookingTransactionTypeRcd = item.FinancialBookingTransactionTypeRcd })
            </td>
        </tr>
    }

</table>
