<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 1:22:44 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFinancialCurrencyTypeRefContract>

@{
    ViewBag.Title = "Index Financial Currency Type Ref";
}

<h2>Index for Financial Currency Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFinancialCurrencyTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Financial Currency Type</th>
        <th>Financial Currency Type Code</th>
        <th>Financial Currency Type Name</th>
        <th>Decimal Count</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeCode) </td>
            <td>@Html.DisplayFor(modelItem => item.FinancialCurrencyTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DecimalCount) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFinancialCurrencyTypeRefEdit", new { financialCurrencyTypeRcd = item.FinancialCurrencyTypeRcd })
                | @Html.ActionLink("Delete", "CrudeFinancialCurrencyTypeRefDelete", new { financialCurrencyTypeRcd = item.FinancialCurrencyTypeRcd })
            </td>
        </tr>
    }

</table>
