<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 2:16:11 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftCompartmentTypeRefContract>

@{
    ViewBag.Title = "Index Aircraft Compartment Type Ref";
}

<h2>Index for Aircraft Compartment Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAircraftCompartmentTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Aircraft Compartment Type</th>
        <th>Aircraft Compartment Type Name</th>
        <th>Active Flag</th>
        <th>Sort Order</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AircraftCompartmentTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AircraftCompartmentTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ActiveFlag) </td>
            <td>@Html.DisplayFor(modelItem => item.SortOrder) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAircraftCompartmentTypeRefEdit", new { aircraftCompartmentTypeRcd = item.AircraftCompartmentTypeRcd })
                | @Html.ActionLink("Delete", "CrudeAircraftCompartmentTypeRefDelete", new { aircraftCompartmentTypeRcd = item.AircraftCompartmentTypeRcd })
            </td>
        </tr>
    }

</table>
