<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 2:41:52 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.GetFerryIndexWithFilterContract>

@{
    ViewBag.Title = "Get Ferry Index With Filter";
}

<h2>Get Ferry Index With Filter</h2>

<table class="table">
    <tr>
        <th>Ferry Name</th>
        <th>Ferry Type</th>
        <th>Ferry Type Name</th>
        <th>Product Name</th>
        <th>First Float Date Time</th>
        <th>Operational Date Time</th>
        <th>Engine Type</th>
        <th>Passenger Capacity</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FerryName) </td>
            <td>@Html.DisplayFor(modelItem => item.FerryTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FerryTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.FirstFloatDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.OperationalDateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.EngineType) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerCapacity) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
        </tr>
    }

</table>
