<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 6:48:12 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewDetails
-->
@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftMeasurementContract

@{
    ViewBag.Title = "Details Aircraft Measurement";
}

<h2>Details for Aircraft Measurement</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Length</dt> <dd>@Html.DisplayFor(model => model.Length)</dd>
        <dt>Height</dt> <dd>@Html.DisplayFor(model => model.Height)</dd>
        <dt>Weight</dt> <dd>@Html.DisplayFor(model => model.Weight)</dd>
        <dt>Wingspan</dt> <dd>@Html.DisplayFor(model => model.Wingspan)</dd>
        <dt>Width</dt> <dd>@Html.DisplayFor(model => model.Width)</dd>
        <dt>Payload</dt> <dd>@Html.DisplayFor(model => model.Payload)</dd>
        <dt>Takeoff Weight In Kilo</dt> <dd>@Html.DisplayFor(model => model.TakeoffWeightInKilo)</dd>
        <dt>Speed</dt> <dd>@Html.DisplayFor(model => model.Speed)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeAircraftMeasurementEdit", new { aircraftMeasurementId = Model.AircraftMeasurementId }) |
    @Html.ActionLink("New", "CrudeAircraftMeasurementCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeAircraftMeasurementIndex")
</p>
