<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 6:49:53 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeFlightScheduleSegmentRuleRefContract>

@{
    ViewBag.Title = "Index Flight Schedule Segment Rule Ref";
}

<h2>Index for Flight Schedule Segment Rule Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeFlightScheduleSegmentRuleRefCreate")
</p>

<table class="table">
    <tr>
        <th>Flight Schedule Segment Rule</th>
        <th>Flight Schedule Segment Rule Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FlightScheduleSegmentRuleRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.FlightScheduleSegmentRuleName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeFlightScheduleSegmentRuleRefEdit", new { flightScheduleSegmentRuleRcd = item.FlightScheduleSegmentRuleRcd })
                | @Html.ActionLink("Delete", "CrudeFlightScheduleSegmentRuleRefDelete", new { flightScheduleSegmentRuleRcd = item.FlightScheduleSegmentRuleRcd })
            </td>
        </tr>
    }

</table>
