<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/2/2021 2:18:02 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeLinkTypeRefContract>

@{
    ViewBag.Title = "Index Link Type Ref";
}

<h2>Index for Link Type Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeLinkTypeRefCreate")
</p>

<table class="table">
    <tr>
        <th>Link Type</th>
        <th>Link Type Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LinkTypeRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.LinkTypeName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeLinkTypeRefEdit", new { linkTypeRcd = item.LinkTypeRcd })
                | @Html.ActionLink("Delete", "CrudeLinkTypeRefDelete", new { linkTypeRcd = item.LinkTypeRcd })
            </td>
        </tr>
    }

</table>
