@model SolutionNorSolutionPort.BusinessLogicLayer.CrudeServicePackageContract

@{
    ViewBag.Title = "Details Service Package";
}

<h2>Details for Service Package</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Service Package Name</dt> <dd>@Html.DisplayFor(model => model.ServicePackageName)</dd>
        <dt>Stay Duration Days</dt> <dd>@Html.DisplayFor(model => model.StayDurationDays)</dd>
        <dt>User Id</dt> <dd>@Html.DisplayFor(model => model.UserId)</dd>
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CrudeServicePackageEdit", new { servicePackageId = Model.ServicePackageId }) |
    @Html.ActionLink("New", "CrudeServicePackageCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeServicePackageIndex")
</p>
