<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/4/2021 8:34:52 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAirlineLanguageContract>

@{
    ViewBag.Title = "Index Airline Language";
}

<h2>Index for Airline Language</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAirlineLanguageCreate")
</p>

<table class="table">
    <tr>
        <th>Language</th>
        <th>Airline Language Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.LanguageRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.AirlineLanguageName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAirlineLanguageEdit", new { airlineLanguageId = item.AirlineLanguageId })
                | @Html.ActionLink("Delete", "CrudeAirlineLanguageDelete", new { airlineLanguageId = item.AirlineLanguageId })
            </td>
        </tr>
    }

</table>
