<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 12/30/2020 1:24:28 PM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeAircraftCompartmentMeasurementContract>

@{
    ViewBag.Title = "Index Aircraft Compartment Measurement";
}

<h2>Index for Aircraft Compartment Measurement</h2>

<p>
    @Html.ActionLink("Create New", "CrudeAircraftCompartmentMeasurementCreate")
</p>

<table class="table">
    <tr>
        <th>Length</th>
        <th>Height</th>
        <th>Width</th>
        <th>Payload In Kilo</th>
        <th>Unit Load Device Positions</th>
        <th>Carry On Bin Count</th>
        <th>Carry On Pieces Allowed Count</th>
        <th>Carry On Piece Max Weight In Kilo</th>
        <th>Infant Limit</th>
        <th>Bookable Limit</th>
        <th>Passenger Limit</th>
        <th>Row Count</th>
        <th>Column Count</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Length) </td>
            <td>@Html.DisplayFor(modelItem => item.Height) </td>
            <td>@Html.DisplayFor(modelItem => item.Width) </td>
            <td>@Html.DisplayFor(modelItem => item.PayloadInKilo) </td>
            <td>@Html.DisplayFor(modelItem => item.UnitLoadDevicePositions) </td>
            <td>@Html.DisplayFor(modelItem => item.CarryOnBinCount) </td>
            <td>@Html.DisplayFor(modelItem => item.CarryOnPiecesAllowedCount) </td>
            <td>@Html.DisplayFor(modelItem => item.CarryOnPieceMaxWeightInKilo) </td>
            <td>@Html.DisplayFor(modelItem => item.InfantLimit) </td>
            <td>@Html.DisplayFor(modelItem => item.BookableLimit) </td>
            <td>@Html.DisplayFor(modelItem => item.PassengerLimit) </td>
            <td>@Html.DisplayFor(modelItem => item.RowCount) </td>
            <td>@Html.DisplayFor(modelItem => item.ColumnCount) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeAircraftCompartmentMeasurementEdit", new { aircraftCompartmentMeasurementId = item.AircraftCompartmentMeasurementId })
                | @Html.ActionLink("Delete", "CrudeAircraftCompartmentMeasurementDelete", new { aircraftCompartmentMeasurementId = item.AircraftCompartmentMeasurementId })
            </td>
        </tr>
    }

</table>
