<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/6/2021 5:18:40 AM
  From Machine: DESKTOP-LSRVP12
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPort.BusinessLogicLayer.CrudeNationalityRefContract>

@{
    ViewBag.Title = "Index Nationality Ref";
}

<h2>Index for Nationality Ref</h2>

<p>
    @Html.ActionLink("Create New", "CrudeNationalityRefCreate")
</p>

<table class="table">
    <tr>
        <th>Nationality</th>
        <th>Nationality Name</th>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NationalityRcd) </td>
            <td>@Html.DisplayFor(modelItem => item.NationalityName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeNationalityRefEdit", new { nationalityRcd = item.NationalityRcd })
                | @Html.ActionLink("Delete", "CrudeNationalityRefDelete", new { nationalityRcd = item.NationalityRcd })
            </td>
        </tr>
    }

</table>
